body {
  background-color: #032B43;
  color: #fff;
  font-size: 1em;
  font-family: 'Roboto Condensed', sans-serif;
}
.container {
  display: grid;
  grid-template-areas:
  "headline"
  "paragraph"
  "features"
  "youtube"
  "offers"
  "return"
  "footer";
}
#header {

  color: #333;
  grid-area: headline;


}
.headline {
  display: flex;
  height: 25vh;
  justify-content: center;
  background-color: #eee;


}
h1 {
  text-align: center;
  align-self: center;
  font-size: 1.3em;
  font-family: 'Roboto', sans-serif;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
#header-img {
  width: 150px;


}
#nav-bar ul {
  display: flex;
  justify-content: space-between;


}
#nav-bar ul li {
  display: inline;
  border-right: 1px solid #fff;
  padding-right: 5px;
  grid-area: nav-bar;




}
#nav-bar ul li:last-child {
  border:none;
}



.nav-link {
  text-decoration:none;
  color: #fff;
  font-size: 0.85em;
}
/* user stories 1-4 should be fulfilled. #header #header-img #nav-bar #nav-link */
/* User story 6 */
.youtube {
  display: flex;
  justify-content: center;
  grid-area: youtube;
}
h3, h4 {
  text-align: center;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
}
h4 {
  margin-top: 1em;
  line-height: 1;
  padding: 1em;
  margin: 0;
}
.product img {
  width: 300px;
  padding: 0;
}
.product {
  border: 2px solid white;
  margin: 0; auto;

}
.pricing {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: thin solid #eee;
  margin: 2em auto;
  grid-area: offers;
}
/* form and shit */
fieldset {
  border: none;


}
legend  {
  font-size: 1em;
  text-align: center;
  font-style: italic;
  margin-bottom: 1.5em;
}
#para {
  font-size: 1.2em;
  font-size: 1.2em;
  text-align: center;
  grid-area: paragraph;
}
.para  {
  font-size: 1.2em;
  line-height: 1.2;
  text-align: left;
  grid-area: features;
}
/* form elements */
#return {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  grid-area:return;
}
label, input, textarea {
  margin: 1em auto;
}
button {
  width: 50px;
  height: 30px;
}
/* footer time. assigned it a class by same name */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  grid-area: footer;
}
.footer a {
  color: #fff;
  margin: auto 1em;
  text-decoration: none;
  font-size: 0.95em;
}
/* I think I am all done with set ups. Time to work in media query */
